<div class="main" *ngIf="!showLoader">
    <img src="../../dist/mmk-app/assets/logo.png"/>
    <div class="button-wrap">
      <button mat-fab color="primary" class="continue-button"
      [routerLink]="['/main']" 
      matTooltip="Continue" matTooltipPosition="left">
        <i class="fas fa-door-open fa-2x"></i>
      </button>
      <button mat-fab color="primary" [routerLink]="['/about']" 
      matTooltip="About" matTooltipPosition="right">
        <i class="fas fa-info fa-2x"></i>
      </button>
    </div>
</div>
<div class="loader" *ngIf="showLoader">
    <mat-spinner color="primary"></mat-spinner>
</div>